# Q&A Activity â€“ Week 07

# Loading the libraries

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import scipy.stats as stats
from scipy.stats import ttest_ind

# Loading the DataSet

In [4]:
df = pd.read_csv (r'C:/Users/user/Desktop/Week7Activity/dataset w7.csv')
print(df)

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

Basic Info and Null Values in the data set

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

In [7]:
df.isnull().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

No Null values in our dataset

# 1. Carrying out descriptive analytics on the dataset

In [8]:
df.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# 2. Check whether female and male students scored the same marks.

In [9]:
df_males = df[df["Gender"] == "male"][["Total Marks"]]
df_females = df[df["Gender"] == "female"][["Total Marks"]]

Defining the Null & Alternate Hypothesis for this study

Null Hypothesis, H0: Same Mark is scored by the Male and Female students 

Alternate Hypothesis, Ha: The marks scored by Males & Females are not equal.

In [10]:
t_score, p_value = ttest_ind(df_females,df_males)
print("The calulated T score & p-value are : \n  \nt-score = %0.3f , \np-value = %0.3f \n" % (t_score, p_value))

alpha  = 0.05

if p_value > alpha:
    print("Failing to Reject the H0")
else:
    print(" Rejecting the H0")

The calulated T score & p-value are :

t-score = 0.694 ,
p-value = 0.494

Failing to Reject the H0

From the above assumption  we can conclude that:

We're failing to Reject H0.

The Girls and Boys have scored similar marks

# 3 . Checking whether test preparation helped the students

Defining  the Null & Alternate Hypothesis

Null Hypothesis, H0: The test preparation didn't help the students.

Alternate Hypothesis, Ha: The test preparation has helped the students to increase their score

In [11]:
df_prep = df[df["Test preparation"] == "completed"][["Total Marks"]]
df_not_prep = df[df["Test preparation"] == "none"][["Total Marks"]]

In [17]:
t_score, p_val = ttest_ind(df_prep,df_not_prep, alternative="greater")
print("The calulated T score & p-value are : \n  \nt-score = %0.3f , \np-value = %0.3f \n" % (t_score, p_val))

alpha = 0.05 # The degree of Freedom is n-1, i.e. 28-1 = 27

if p_val < alpha:
    print("Rejecting the H0")
elif p_val > alpha:
    print("Failing to Reject the H0")

The calulated T score & p-value are :

t-score = 3.614 ,
p-value = 0.001

Rejecting the H0

Based on the above inferences  we can say that:

From this study, we'll reject the H0. i.e. rejecting  the claim that the test preparation didn't helped the students.

The test preparation has helped the students increase their score.